.buttonClass {
  border-radius: 4px;
  padding: .5rem 1rem;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
}

.buttonContent {
  display: inline-flex;
}

.filled {
  composes: buttonClass;
  border: 0;
  color: var(--theme-on-primary);
  background-color: var(--theme-primary);
  transition: filter .25s ease-out;
}

.outlined {
  composes: buttonClass;
  border: solid 1px #c8c8c8;
  color: var(--theme-on-background);
  background: rgba(200, 200, 200, 0);
  transition: background .25s ease-out;
}

.filled:hover:enabled {
  cursor: pointer;
  filter: brightness(125%);
}

.filled:active:enabled {
  transition: filter 0s ease-out;
  filter: brightness(100%);
}

.filled:disabled {
  cursor: default;
  background-color: #c3cfe2
}

.outlined:hover:enabled {
  cursor: pointer;
  background: rgba(200, 200, 200, 0.25);
}

.outlined:active:enabled {
  transition: background 0s ease-out;
  background: rgba(200, 200, 200, 0.1);
}

.outlined:disabled {
  cursor: default;
  color: #c3cfe2;
}
