.container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.containerStretch {
  composes: container;
  display: flex;
  align-items: unset;
}

.bottomBorder {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  border-bottom: 2px solid var(--theme-primary);
  transition: width .2s var(--theme-bezier);
}

.inputText:focus:enabled + .bottomBorder {
  width: 100%;
}

.inputText {
  all: unset;
  height: 28px;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.inputText[type="password"] {
  letter-spacing: 1px;
}

.inputLabel {
  letter-spacing: -0.33px;
  font-size: 0.8rem;
  color: rgb(80, 80, 80);
  padding-bottom: 4px;
}
