:root {
  --theme-primary: #0f55eb;
  --theme-secondary: #02c58a;
  --theme-on-primary: #fff;
  --theme-on-secondary: #fff;
  --theme-background: #fefefe;
  --theme-on-background: #000;
  --theme-gray: #dcdcdc;
  --theme-hover: #f6f6f6;
  --theme-bezier: cubic-bezier(0.15, 1, 0.75, 1);
}
