h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #2c69ed;
  text-decoration: none;
}

.primary-text {
  color: #000;
}
.secondary-text {
  color: rgb(90, 90, 90);
}
.ternary-text {
  color: rgb(140, 140, 140);
}